body {
    font-size: 2.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #d0d0d0;
    padding: 1rem;
}

p:has(span#update) {
	height: 1.2em;
}

p {
    margin: 15px 0;
}

h3 {
    margin: 45px 0 0 0;
}

textarea,
button {
    font-size: 2rem;
    font: inherit;
}

table#style {
	font-size: 0.8em;
}

table#style th {
	text-align: left;
}

table#style td,
table#style th {
	padding: 0 0.5em 0 0;
}
