img.chromeext-emojiflags {
	all: unset !important;
	display: inline !important;
	vertical-align: -15% !important;
	-webkit-user-drag: none !important;
	cursor: text !important;
}

div:has(> img.chromeext-emojiflags){
	display: inline;
}
